/* =======Header Section===== */

.red {
    background-color: red;
    color: white;
}

header {
    height: 8vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    font-size: 1.1rem;
}

#header-items {
    display: flex;
    flex-direction: row;
}

.header-item {
    margin-left: 3em;
    cursor: pointer;
    font-weight: 500;
}

.header-item:hover {
    text-decoration: underline;
    color: rgb(37, 179, 86);

}

#header-search-box {
    margin: 10px;
    padding: 8px 20px;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background-color: white;
    color: black
}

/* ==============Hero Section================ */

#hero {
    margin: 0 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#hero>div {
    margin: 0 1rem;
}

#hero>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#hero>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: rgb(37, 179, 86);
}

#hero-one-liner {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 4rem;
}

#hero-one-liner~div {

    color: gray;
}

#hero-one-liner~button {
    margin-top: 10px;
    width: 40%;
    padding: 10px 16px;
    border: 0;
    border-radius: 0.8rem;
    background-color: #f7c82c;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

#hero-image {
    width: 80%;
}

/* ================Feature of Products=========== */
#features {
    margin: 4rem 14rem;
    padding: 2.5rem 0;
    margin-bottom: 6rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 0px 40px 20px #f0f0f0;

}

#features>div {
    font-size: 1.2rem;
    transition-duration: 800ms;
}

#feature>div:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    transition-duration: 800ms;
}


#features>div>div:nth-child(1) {
    color: rgb(37, 179, 86);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#features>div>div:nth-child(2) {
    color: gray;
}

/* =========== Featured Products========= */
#featured-product {
    margin: 2rem 4rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading {
    margin: 10px 0;
    font-size: 2.3rem;
    margin-bottom: 30px;
}

#featured-product>div:nth-child(1)>div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featured-product>div:nth-child(1)>div>button {
    margin-bottom: 2rem;
    border: 0;
    padding: 2px 4px;
    font-size: 1.1rem;
    background-color: transparent;

    color: rgb(62, 62, 62);
    cursor: pointer;

}

#featured-product>div:nth-child(1)>div>button:hover {
    color: rgb(37, 179, 86);
    text-decoration: underline;

}

#fruits-products,
#vegetables-products {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.product-item {
    margin: 0 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.349);

    transition-duration: 800ms;
}

.product-item:hover {
    transform: scale(1.1);
    transition-duration: 800ms;
}

.product-image {
    border-radius: 10px 10px 0 0;
    width: 20rem;
    height: 15rem;
    overflow: hidden;
}

.product-details {
    margin: 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.product-details>div {
    margin-top: 3px;
}

.product-details>div:nth-child(1) {
    font-size: 1.5rem;
}

.product-details>div:nth-child(2) {
    font-size: 1rem;
    color: gray;

}

.product-details>div:nth-child(3) {
    color: rgb(37, 179, 86);
    font-size: 1.1rem;
    font-weight: 500;
}

.product-details>button {
    margin-top: 10px;
    border: 0;
    padding: 14px;

    background-color: rgb(37, 179, 86);
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-details>button:hover {
    background-color: rgb(16, 131, 56);
}

/* ============Promotion Section ======= */
#promotions {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#promotions>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion-cards:nth-child(1) {
    background-color: rgb(41, 159, 82);
}

.promotion-cards:nth-child(2) {
    background-color: rgba(251, 144, 85, 255)
}

.promotion-cards {
    padding: 0px 20px;
    border-radius: 10px;
    margin-right: 50px;
    color: white;
    width: 35rem;
    height: 280px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion-cards>div {
    font-size: 1.5rem;
}

.promotion-cards>div>div:nth-child(1) {
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
}

.promotion-cards>div>button {
    margin-top: 1.5rem;
    border-radius: 30px;
    padding: 10px 20px;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.promotion-cards>div>button:hover {
    color: white;
    background-color: black;
}

.promotion-cards>img {
    width: 50%;
}

/* ============Newsletter Section========= */
#newsletter {
    margin: 5rem 18rem;
    height: 22vh;
    background-color: rgba(9, 195, 93);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white
}

#newsletter>h1 {
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
}

#newsletter>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter>div>input {
    border: 0;
    outline: 0;
    padding: 1rem 2rem;
    border-radius: 10px 0px 0px 10px;

    width: 30rem;
    font-size: 1rem;
}

#newsletter>div>button {
    padding: 1rem 2rem;
    background-color: rgba(0, 101, 69, 255);
    border: 0;
    color: white;
    font-size: 1rem;
    border-radius: 0 10px 10px 0;
}

/* ============Footer Section=========== */

footer {
    height: 25vh;
    background-color: black;
    color: white;
}

footer>div:nth-child(1) {
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer>div:nth-child(2) {
    padding: 0 5px;
    color: rgb(185, 185, 185);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-item {
    display: flex;
    flex-direction: column;
}

#footer-item>div:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.footer-item>div:nth-child(2) {
    font-size: 0.9rem;
    color: rgb(163, 158, 158);
}

.footer-item>div:nth-child(2)>p:hover {
    color: rgb(225, 225, 225);
    text-decoration: underline;
}



ui {
    list-style-type: none;
}