* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

body {
    font-family: "Poppins";
    background-color: rgba(128, 128, 128, 0.234);
}

/* =======Header Section===== */

.red {
    background-color: red;
    color: white;
}

header {
    height: 8vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    font-size: 1.1rem;
}

#header-items {
    display: flex;
    flex-direction: row;
}

.header-item {
    margin-left: 3em;
    cursor: pointer;
    font-weight: 500;
}

.header-item:hover {
    text-decoration: underline;

}

#header-search-box {
    margin: 10px;
    padding: 8px 20px;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background-color: white;
    color: black
}

/* =========== Featured Prodction */
#featured-product {
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading {
    margin: 10px 0;
    font-size: 2.3rem;
    margin-bottom: 30px;

}

#products {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item {
    margin: 0 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.349);

    transition-duration: 800ms;
}

.product-item:hover {
    transform: scale(1.1);
    transition-duration: 800ms;
}

.product-image {
    border-radius: 10px 10px 0 0;
    width: 15rem;
    height: 10rem;
    overflow: hidden;
}

.product-details {
    margin: 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.product-details>div:nth-child(1) {
    font-size: 1.2rem;
}

.product-details>div:nth-child(2) {
    font-size: 0.9rem;
    color: gray;

}

.product-details>button {
    margin-top: 10px;
    border: 0;
    padding: 8px 6px;
    display: flex;
    background-color: black;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-details>button:hover {
    background-color: white;
    color: black;
}


/* ============Footer Section=========== */

footer {
    height: 25vh;
    background-color: black;
    color: white;
}

footer>div:nth-child(1) {
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer>div:nth-child(2) {
    padding: 0 5px;
    color: rgb(185, 185, 185);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-item {
    display: flex;
    flex-direction: column;
}

#footer-item>div:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.footer-item>div:nth-child(2) {
    font-size: 0.9rem;
    color: rgb(163, 158, 158);
}

.footer-item>div:nth-child(2)>p:hover {
    color: rgb(225, 225, 225);
    text-decoration: underline;
}



ui {
    list-style-type: none;
}